@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root{
    --pading-container: 100px 0;
    --color-title: #020a3a;

}


body{
    font-family: "Plus Jakarta Sans", sans-serif;

}



.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pading-container);
}


.hero{
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: rgb(255, 255, 255);
    


}


.hero::before{
    content: '''';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100% );
    background-image: url(../images/fondo3.png);
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;


}

.nav{
    --pading-container:0;
    height: 100%;
    display: flex;
    align-items: center;

}


nav img{
    width: 150px;

}

.nav__title{
    font-weight: 300;

}

.nav__link{
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;

}


.nav__items{
    list-style: none;
}



.nav__links{
    color: rgb(255, 255, 255);
}


.nav__menu{
    margin-left: auto;
    cursor: pointer;
    display: none;
}



.nav__img{
    display: block;
    width: 30px;

}






.nav__close{
    display: var(--show, none)
}



.hero__container{
    max-width: 800px;
    --pading-container:0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1en;
    padding-bottom: 100px;
    text-align: center;

}

.hero__title{
    font-size: 3rem;

}


.hero__paragraph{
    margin-bottom: 20px;
}


.cta{
    display: inline-block;
    justify-self: center;
    background-color: #B60000;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;

}
















.about{
    text-align: center;
    background-color: #fff3f3;

}

.subtitle{

    color: #020a3a;
    font-size: 2rem;
    margin-bottom: 25px;
}


.about_paragraph{
    line-height: 1.7;
   


}


.about___main{
    margin-top: 5%;
    display: flex;
    justify-content: space-evenly
    

}



.about__main2{

    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;


}

.about__main2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
}

.about__main{
    flex-basis: 31%;
    background-color: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;


}

.about__main:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
}

.about__icons{
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;

}

.about__icon{
    width: 40px;
}






.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
    
  
}

.facilities{

    width: 80%; 
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #020a3a;
   
   
}


.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 15%;
    text-align: left;
  
}


.facilities h1{
    margin-bottom: 15px;
}

.facilities p{
    color: #000000;
}


.facilities-col p{
    padding: 0;

}



.facilities-col img{
   width: 100%;
   border-radius: 10px;
   margin-right: 10px;
}


.facilities-col h3{
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: left;
}



























.knowledge{
background-color: #5c0606;
background-image:  radial-gradient(#8f0904 0.5px, transparent 0.5px), radial-gradient(#8f0904 0.5px, #fff3f3 0.5px);
background-size: 20px 20px;
background-position: 0 0, 10px 10px;
overflow: hidden;
margin-bottom: 20px;
}


.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    margin-bottom: 20px;

}



.knowledge__picture{
    max-width: 500px;

}

.knowledge__paragraphs{
    line-height: 1.7;
    margin-bottom: 20px;
    
}




.knowledge__img{

    width: 100%;
    display: block;

}










.testimonials{
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
    color: #020a3a;
    
}

.testimonials h1{
    margin-bottom: 20px;
}

.testimonials p{
    color: #000000;
    margin-bottom: 5%;
}




.testimonial__col{
   margin-top: 5%;
   display: flex;
   justify-content: space-between;
   flex-basis: 31%;;
   border-radius: 10px;

   padding: 20px 12px;
   box-sizing: border-box;
   transition: 0.5s;
   
}




.testimonial-col1{
    margin-bottom: 5%;
    text-align: center;
    background-color: #fff3f3;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    text-align: left;
}


.testimonial-col1 img{
    height: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;


}

.testimonial-col2{
    margin-bottom: 5%;
    text-align: center;
    background-color: #fff3f3;
    padding: 25px;
    display: flex;
    box-sizing: border-box;
    margin-left: 100px;
    text-align: left;
    
}


.testimonial-col2 img{
    height: 60px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
    

}









.price{
    text-align: center;

}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}


.price__element{
    background-color: #fff3f3;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #000000;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #000000;
    --color-items: #696871;


}

.price__element--best{

    width: 370px;
    padding: 60px 40px;
    background-color: black;

    --color-plan: #696871;
    --color-price: #fff;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;


}



.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;


}


.price__price{
    font-size: 2.5rem;
    color: var(--color-price);

}


.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items)

}


.price__cta{

    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);


}



.questions{
    text-align: center;

}


.questions__container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 50px;

}

.questions__padding{
    padding: 0;
    transition: padding .3s;
    border: 1px solid #000000;
    border-radius: 6px;

}

.questions__padding--add{
    padding-bottom: 30px;

}

.questions__answer{
    padding: 0 30px 0;
    overflow: hidden;
  
}


.questions__title{
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: var(--color-title);
    justify-content: space-between;
}


.questions__arrow{
    border-radius: 50%;
    background-color: var(--color-title);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions__arrow--rotate{
    transform: rotate(180deg);
}

.questions__show{
    text-align: left;
    height: 0;
    transition: height .3s;

}


.questions__img{
    display: block;

}



.questions__copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;
}









.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/Banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;


}


.contact h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;


}



















.footer{
    background-color: black;
}


.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;

}

.footer p{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;
}


.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav__link--footer{
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}


.footer__inputs{
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}


.footer__input{
    background-color: #fff;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1em;
    outline: none;
    border: none;
    margin-right: 16px;
}



.footer__submit{
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px ;
    background-color: #f9202079;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
}


.footer__copy{
    --pading-container: 30px 0;
    text-align: center;
    color: #fff;

}


.footer__copyright{
    font-weight: 300;

}

.footer__icons{
    margin-bottom: 10px;
}


.footer__img{
    width: 30px;

}









.subheader{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/fondo1.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
 
}


.subheader .sub-header{
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    
}




.subheader h1{
   
    text-align: center;
}



.about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;

}

.about-col h1{
    margin-bottom: 15px;
}

.about-col p{
    margin-bottom: 20px;
}

.about-col img{
    width: 100%;

}


.blog-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;

}


.blog-left{
    flex-basis: 65%;

}

.blog-left img{
    width: 100%;
}

.blog-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}


.blog-left p{
    color: #999;
    padding: 0;
}

.blog-right{
    flex-basis: 32%;

}

.blog-right h3{
    background-color: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}


.blog-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}


.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;

}

.comment-box h3{
    text-align: left;

}

.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;

  

}


.comment-form button{
    margin: 10px 0;
    
}


.contact-us{
    width: 80%;
    margin: auto;

}


.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;

}

.contact-col div{
   
    align-items: center;
    margin-bottom: 40px;

}

.contact-col div .fa{
    font-size: 28px;
    color: #f44336;
    margin: 10px;
    margin-right: 30px;

}


.contact-col div p{
    padding: 0;

}


.contact-col div h3{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}


.start{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    color: #020a3a;
}

.start h1{
    margin-bottom: 15px;
}

.options1{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 15%;
    text-align: left;
    background-color: #fff3f3;
    justify-content: space-evenly;
    cursor: pointer;
    margin-right: 20px;
    color: #000000;
}

.options1:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
}

.options1 img{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}


.options1 h3{
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: center;
}



.options2{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 15%;
    text-align: left;
    background-color: #fff3f3;
    justify-content: space-evenly;
    cursor: pointer;
    margin-right: 20px;
    color: #000000;
}

.options2:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
}

.options2 img{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}


.options2 h3{
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: center;
}



.options3{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 15%;
    text-align: left;
    background-color: #fff3f3;
    justify-content: space-evenly;
    cursor: pointer;
    margin-right: 20px;
    color: #000000;
}

.options3:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
}

.options3 img{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}


.options3 h3{
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: center;
}



.options4{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 15%;
    text-align: left;
    background-color: #fff3f3;
    justify-content: space-evenly;
    cursor: pointer;
    margin-right: 20px;
    color: #000000;
}
.options4:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
}
.options4 img{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;
}


.options4 h3{
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: center;
}

.options5{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 15%;
    text-align: left;
    background-color: #000000;
    justify-content: space-evenly;
    cursor: pointer;
    margin-right: 20px;
    color: #fff;
}

.options5 img{
    width: 100%;
    border-radius: 10px;
    margin-right: 10px;

}


.options5 h3{
    margin-bottom: 15px;
    margin-top: 16px;
    text-align: center;

}

.options5:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0, 0.5);
}



.option img{
    width: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
}




.price{
    text-align: center;

}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}


.price__element{
    background-color: #fff3f3;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #000000;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #000000;
    --color-items: #696871;


}

.price__element--best{

    width: 370px;
    padding: 60px 40px;
    background-color: black;

    --color-plan: #696871;
    --color-price: #fff;
    --bg-cta: #fff;
    --color-cta: #5454D4;
    --color-items: #696871;


}



.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;


}


.price__price{
    font-size: 2.5rem;
    color: var(--color-price);

}


.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items)

}


.price__cta{

    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);

}


@media (max-width:800px){
    .nav__menu{
        display: block;
    }

    .nav__link--menu{
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }


    .nav__link--show{
        --show: block;
        opacity:1 ;
        pointer-events: unset;

    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero__title{
        font-size: 2.5rem;

    }


    .about___main{
    
       flex-direction: column;
    }
    .about__main{
        
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
       
    }


    .row{
        flex-direction: column;

    }



    .testimonials{
        flex-direction: column;
        margin: auto;
        padding-top: 100px;
        text-align: center;
        color: #020a3a;
    }


    .testimonial__col{
        flex-direction: column;
    }


    .testimonial-col1{
        flex-direction: column;
        align-items: center;
       
    }


    .testimonial-col2{
        margin-left: 0;
       flex-direction: column;
        align-items: center;
       
    }


    .testimonial-col1 img{
        margin-left: 5px;
        margin-right: 15px;
    }


    .facilities{
        flex-direction: column;
    }

    .about__main2{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
       
    }



    .about__icons:last-of-type{
        grid-column: 1/-1;
    }



    .knowledge__container{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 3em;
        text-align: center;
    }

    .knowledge__picture{
        grid-row: 1/2;
        justify-self: center;
    }

    .questions__copy{
        width: 100%;
    }


    .footer__container{
        flex-wrap: wrap;
    }

    .nav--footer{
        width: 100%;
        justify-content: center;

    }

    .nav__link--footer{
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }


    .footer__form{
        width: 100%;
        justify-content: space-evenly;

    }

    .footer__input{
        flex: 1;

    }

   
}

@media (max-width:600px){
    .hero__title{
        font-size: 2rem;

    }

    .hero__paragraph{
        font-size: 1rem;
    }

    .subtitle{
        font-size: 1.8rem;
    }


    .price__element{
        width: 90%;
    }

    .price__element--best{
        width: 90%;
        padding: 40px;
    }
 
    .footer__title{
        justify-self: start;
    }

    .nav--footer{
        padding-bottom: 60px;
    }

    .nav__link--footer{
        justify-content: space-between;

    }

    .footer__inputs{
        flex-wrap: wrap;
    }

    .footer__input{
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer__submit{
        margin-right: auto;
        margin-left: 0;


    }
}







